

body{font-family: 'Montserrat', sans-serif;
    background-color:#19464d ;
    color: #ffffff;
    line-height: 2em;

}
h1{
    color:#68B2A0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;

}
h2,h3{
    color:#CDE0C9;
    font-family: 'Courier New', Courier, monospace;
}

.topnav {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
    position:s-webkit-sticky;
    top:0;
    z-index: 100;
      background-color:#19464d ;
      ;
      overflow: hidden;
    }
    /* Style the links inside the navigation bar */
    .topnav a {
      float: left;
      color: #68B2A0;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;
    }
    
     /* Change the color of navbar links on hover */
     .topnav a:hover {
    
      color: #CDE0C9;
    }
  
    
    