body{
  margin: 0px;
  background-color:#19464d ;
  max-width: 100%;
  font-family: 'Courier New', Courier, monospace;
  color: #FFFFFF;
}
.light{
  background-color: #FFFFFF;
  color: #19464d;
}
section{ 
  margin-right:60px;
}
p{
  font-family: 'Montserrat', sans-serif;
  line-height: 2rem;
}
.header{
  height:100vh;
}
footer{
  height: 500px;
}

ul{
  position:fixed;
  display: flex;
  list-style-type: none;
  color: #68B2A0;
  justify-content: flex-end;
  font-size: 18px;
  font-weight: bold;
  background-color: #19464d;
  top:0;
  width:100%;
  z-index: 3;
  margin: 0;
  padding: 18px;  
}


li{
  width: 200px;;
  max-width:200px;
  
}
a{
  color:#68B2A0;
  text-decoration: none;
}
a:hover{
  color:#CDE0C9
}
.hamburger{
  display: none;
}
h1{
  color:#68B2A0;
  font-size: 90px;
  margin:0;
}
h2{
  color: #CDE0C9;
  font-size: 60px;
  text-align: left;
}

.header-text{
  margin-left: 60px;
 
  
}
.header-area{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.social-button{
  padding-top: 30px;
}


i{
  font-size: 40px;
  color: #68B2A0;
}

i:hover{
  color: #CDE0C9;
} 

.subsection{
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
 
}
.subsection p{
  text-align: justify;
}
.information{

  margin-left: 60px;
  padding-right: 20px;
}
.headshot{
  width:200px;
  border-radius: 50%;
  filter:grayscale();
  padding:30px;
  max-width: 200px;
  margin: 10px;
}

.headshot-container{
  display: flex;
  align-items: center;

}
#header p{
  animation: fadein 4s;
} 

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
} 

.projects{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 50px;
  min-height: 100vh;
}
.projects h2{
  margin-left: 60px;
}
hr{
  margin-left: 20px;
  margin-right: 20px;
}

/*styling for cards*/
.card-grid{
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 30px;
  row-gap: 30px;
  flex-wrap: wrap;
  padding-left: 10%;
  padding-right: 10%;
}
  
.card{
  border:1px solid white;
  box-shadow: 5px 5px 20px #CDE0C9;
  transition:  .3s ease;     
}

.card:hover { 
  transform: scale(1.05); 
  box-shadow: 5px 5px 20px #FFFFFF;

}

.card-image{
  width:100%;
  max-height: 150px;
  object-fit: cover;
}
.card-body{
  margin: 0px 5px 5px 5px;  
  padding: 10px;
}
.card-text {
display:-webkit-box;
  line-height:1.3rem;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 420px;
}



.contact{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: left;
 
}
.contact h2{
  margin-left: 60px;
}
.contact p{
  margin-left: 60px;
}


.socials{
  position: fixed;
  z-index: 100;
  top:50%;
  right: 5px;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
}
.social-button{
  padding: 1rem;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

@media only screen and (max-width:1100px){
.card-grid{
  grid-template-columns: repeat(2, 1fr);

}
}

@media only screen and (max-width:700px){
  .card-grid{
    grid-template-columns: repeat(1, 1fr);
  
  }
.subsection{
flex-direction: column;
}
  
 .hamburger{
    display: block;
    border: 0;
    background-color: transparent;
    width:40px;
    height:40px;
    padding: 20px;
    z-index: 100;
  }
  
  .hamburger:hover{
    cursor:pointer;
    transform: scale(1.05);
  }
  #hamburger-container{
    width:30px;
    height:20px;
    position:relative;
    top:15px;
    left:10px;
  }
  #hamburger-container >div {
    width:30px;
    border-radius:3px;
    height:3px;
    position: absolute;
    background:#68B2A0;
  }
  #hamburger-container >div:nth-child(2){
    top:8px;
  }
  #hamburger-container >div:last-child{
    bottom:0px;
  }
  .bar{
    transition: all 0.4s ease-in-out;
  }


  ul{
    display: none;
    position: relative;
  }
  ul.show{
    display: block;
    background-color: transparent;
    line-height: 2rem;
    
  }
 nav{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
 }

}

     
   
/* 
  .button{
    width: 100px;
    height:30px;
    background-color: #68B2A0;
    text-align: center;
    border-radius: 15px;
  }
  .button:hover{
    background-color: #CDE0C9;
  }
  .button:active{
    background-color: #ffffff;
    color: #68B2A0;
  } */
    