

body{font-family: 'Montserrat', sans-serif;
    background-color:#19464d ;
    color: #ffffff;
    line-height: 2em;
    transition: all 0.3s ease-in-out;
    margin: 0px;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;

}
.about p{
  padding-right: 15rem;
}

a{
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

section{
  height: 500px;
  width: 100%;
  transition: all 0.3s ease-in-out;

}
 #header{
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
 }
footer{
  height: 500px;
}
/*control buttons for navigating between sections*/
.socials{
  position: fixed;
  z-index: 100;
  top:50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  
  transform: translateY(-50%);
}
.social-button{
  padding: 1rem;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.8rem;
}
i{
  font-size: 1.5rem;
  color: #68B2A0;
}

i:hover{
  color: #CDE0C9;
}
.activeBtn i{
  color:#CDE0C9;
  transition: all 0.3s ease-in-out;
  
}

h1{
    color:#68B2A0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;

}
h2,h3{
    color:#CDE0C9;
    font-family: 'Courier New', Courier, monospace;
}
nav {
  display: flex;
  justify-content: space-between;
}
.logo{
  height: 80px; 
}
ul{
  display: flex;
  list-style-type: none;
  float: center;
  color: #68B2A0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding-top: 12px;
}
    /* Style the links inside the navigation bar */
    
li{
    width:200px;
  }
     /* Change the color of navbar links on hover */
ul a:hover {
      color: #CDE0C9;
    }
ul .active a  {
      color:#CDE0C9;
      transition: all 0.3s ease-in-out;
    }

    .headerContent{
      display:grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 50px;
  
    }
    .leftHeader{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: auto;
      padding-left: 4rem;
    }

  .rightHeader{
    display:flex;
    align-items: center;
    position: relative;

  }
  #header p{
         animation: fadein 4s;
}

@keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}
    
  
  .image{
    width:55%;
    margin-left: 4rem;
    transition: all 0.3s ease-in-out;
  }
  #header-image{
    border-radius: 50%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
  }
  

  .button{
    width: 100px;
    height:30px;
    background-color: #68B2A0;
    text-align: center;
    border-radius: 15px;
  }
  .button:hover{
    background-color: #CDE0C9;
  }
  .button:active{
    background-color: #ffffff;
    color: #68B2A0;
  }
    