body{
  margin: 0px;
  background-color:#19464d ;
  max-width: 100%;
}

section{
  width:100%;
  font-family: 'Courier New', Courier, monospace;
}
p{
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  margin: 20px;
}
.header{
  height:100vh;
}
footer{
  height: 500px;
}
nav{
  position: ;
  display: flex;
  justify-content: space-around;
  color: #68B2A0;
}
ul{
  display: flex;
  position:fixed;
  width: 100%;
  list-style-type: none;
  float: right;
  color: #68B2A0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding-top: 15px;
  
}
li{
  width: 200px;;
  max-width:200px;
  
}
a{
  color:#68B2A0;
  text-decoration: none;
}
a:hover{
  color:#CDE0C9
}

h1{
  color:#68B2A0;
  font-size: 90px;
  margin:0;
}
h2{
  color: #CDE0C9;
  font-size: 60px;
}
.header-text{
  margin-left: 60px;
  margin-bottom: 150px;
}
.header-area{
  display: flex;
  height: 100%;
  
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.socials{
  padding-bottom: 200px;
  padding-right: 20px;
}
.social-button{
  padding-top: 30px;
}
.logo{
  height: 80px; 
  max-width: 80px;
}

i{
  font-size: 40px;
  color: #68B2A0;
}

i:hover{
  color: #CDE0C9;
} 

.subsection{
  display: flex;
  justify-content: space-around;
  text-align: center;
 
}
.subsection p{
  text-align: justify;
}
.information{
  margin: 20px;
  padding-right: 20px;
}
.headshot{
  width:200px;
  border-radius: 50%;
  filter:grayscale();
  padding:30px;
  max-width: 200px;
}

.headshot-container{
  display: flex;
  align-items: center;

}
#header p{
  animation: fadein 4s;
} 

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
} 
.project-card{
  width: 300px;
  height:500px;
  border:1px solid white;
  box-shadow: 5px 5px 20px #CDE0C9;
  margin:10px;
}
.project-card:hover{
  box-shadow: 5px 5px 20px #FFFFFF;
  transform: scale(1.1);
}
.project-container{
  display: flex;
  justify-content: space-around;
}
.projects{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.project-image{
  max-width: 300px;
}
.subtext{
  font-size:15px;
}
hr{
  margin-left: 20px;
  margin-right: 20px;
}
.contact{
  display: flex;
  flex-direction: column;
  text-align: center;
 
}

/* .socials{
  position: fixed;
  z-index: 100;
  top:50%;
  right: 10px;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
}
.social-button{
  padding: 1rem;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.8rem;
}





     
   
/* 
  .button{
    width: 100px;
    height:30px;
    background-color: #68B2A0;
    text-align: center;
    border-radius: 15px;
  }
  .button:hover{
    background-color: #CDE0C9;
  }
  .button:active{
    background-color: #ffffff;
    color: #68B2A0;
  } */
    